<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChronosSuite</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <link href="~/css/virtual-select.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar gradient-1-90">
            <div class="text-center p-2">
                <!-- Logo -->
                <img src="~/images/Chronos-negativo.svg" class="img-fluid" alt="" />
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a class="sidebar-link text-light @ViewBag.Home" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-house-door"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link text-light @ViewBag.VisitRecord" asp-controller="VisitRecord" asp-action="Index">
                        <i class="bi bi-clipboard-check"></i>
                        <span>Registros</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link text-light @ViewBag.Visitor" asp-controller="Visitor" asp-action="Index">
                        <i class="bi bi-person-badge"></i>
                        <span>Visitantes</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link text-light @ViewBag.Employee" asp-controller="Employee" asp-action="Index">
                        <i class="bi bi-people"></i>
                        <span>Empleados</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link text-light @ViewBag.Location" asp-controller="Location" asp-action="Index">
                        <i class="bi bi-geo-alt"></i>
                        <span>Ubicaciones</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <nav class="navbar navbar-expand-lg shadow-lg">
                <div class="container-fluid">
                    <div class="toggle-btn" type="button" id="sidebarToggle">
                        <i class="bi bi-list fs-4"></i>
                    </div>

                    <div class="d-flex ms-auto">
                        <div class="dropdown">
                            <a class="btn dropdown-toggle d-flex align-items-center" href="#" role="button"
                                id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="me-2 d-none d-md-inline">@(User.Identity?.Name ?? "Usuario")</span>
                                <i class="bi bi-person-circle fs-4"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="/Login/SignOut" id="logout-link"><i
                                            class="bi bi-box-arrow-right me-2"></i>Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="container-fluid p-3">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.29.0/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.24.0/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/virtual-select-plugin@1.0.49/dist/virtual-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
